@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;200;300;400;500;600;700&family=Gluten:wght@400;500;600;700;900&family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Alumni', sans-serif;
    color: white;
    background-color: black;
    background-image: url('../public/weather-icons/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gif-container {
   position: absolute;
   top: 20%;
}

.gif-displaying {
    align-items: center;
    width: 150px;
    height: 150px;
}

.all-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin:auto;
}

.main-image {
    width: 80%;
    height: 80%;
}

.sub-image1 {
    width: 150px;
    height: 150px;
}

.sub-image2 {
    width: 40%;
    height: 50%;
    margin: 0;
}

.area-section1 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.main-temperature {
    font-size: 100px;
    font-weight: 600;
    padding: 0%;
    margin: 0%;
}

.current-region {
    font-size: 32px;
}

.area-section2 {
    background-color: #8f8686;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    width: 1200px;
    padding: 2%;
}

.current-temperature {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-timeperiod {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
    gap: 15px;
}

.area-section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    width: 1248px;
}

 .next-day1 {
    background-color: #8f8686;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 30px;
    padding: 2%;
}

.next-day2 {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

.detail-info {
    margin-bottom: 15%;
}

.sub-text1 {
    font-size: 24px;
    margin-bottom: 0%;
    margin-top: 3%;
}

.sub-text2 {
    font-size: 20px;
    margin: 0%;
}

.sun {
    padding-top: 15%;
}

 